/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos globais */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Cabeçalho */
header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}

/* Main */
main {
    padding: 20px;
}

/* Formulário de Cadastro */
#formulario {
    max-width: 500px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#formulario h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

#formulario label {
    display: block;
    margin-bottom: 10px;
}

#formulario input[type="text"],
#formulario input[type="email"],
#formulario input[type="tel"],
#formulario input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

#formulario button[type="submit"],
#google-cadastro button {
    display: inline-block;
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;
}

#formulario button[type="submit"]:hover,
#google-cadastro button:hover {
    background-color: #555;
}

#google-cadastro {
    text-align: center;
}
