/* Registration Form */
.registration-container {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
    max-width: 500px;
    margin: 20px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.registration-container h1 {
    text-align: center;
    margin-bottom: 20px;
}

.registration-container form {
    display: flex;
    flex-direction: column;
}

.registration-container label {
    margin-bottom: 5px;
}

.registration-container input {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.registration-container button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.registration-container button:hover {
    background-color: #45a049;
}

/* Login Section */
.login-container4 {
    position:fixed;
    top: 0px;
    right: 0px;
    padding: 5px;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 2000;
}

.login-container4 form {
    display: flex;
    flex-direction:row;
}

.login-container4 label {
    font-size: 12px;
    margin-top: 1px;
    margin-bottom: 1px;
}

.login-container4 input {
    padding: 1px;
    width: 120px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.login-container4 button {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 3px;
    cursor: pointer;
}


.login-container4 button:hover {
    background-color: #45a049;
}

@media (max-width: 600px) {
    .login-container4 {
        position: relative;
        top: auto;
        right: auto;
        margin: 10px auto;
        width: 90%;
    }

    .login-container4 form {
        flex-direction: column;
    }

    .login-container4 label,
    .login-container4 input,
    .login-container4 button {
        width: 100%;
        margin: 5px 0;
    }
}
.botao{
    font-size: 8px;
}