/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos globais */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Cabeçalho */
header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}

/* Main */
main {
    padding: 20px;
}

#quadras {
    
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#quadras2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;    
    background-color: #fff;
    margin-top: 10px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#quadras h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

#quadras2 h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

/* Rodapé */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

/* Regras de mídia para dispositivos menores */
@media screen and (max-width: 768px) {
    header {
        padding: 10px 0;
    }

    h1 {
        font-size: 28px;
    }

    nav ul li {
        margin-right: 10px;
    }

    nav ul li a {
        font-size: 16px;
    }

    main {
        padding: 10px;
    }

    #quadras {
        padding: 10px;
    }

    #quadras h2 {
        font-size: 20px;
    }

    footer {
        padding: 10px 0;
    }
}

.quadDispo{

    display: flex;
    justify-content: center;

}
