body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    background: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

#sobre h2 {
    text-align: center;
    margin-bottom: 20px;
}

/* Adicionar a classe container para flexbox */
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; /* Espaçamento entre as caixas */
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}


.box {
    flex: 1 1 30%; /* Ajuste de largura mínima e crescimento */
    background: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin: 10px; /* Margem entre as caixas */
}

.box h3 {
    margin-top: 0;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

@media (max-width: 768px) {
    nav ul li {
        display: block;
        margin: 10px 0;
        text-align: center;
    }

    .box {
        flex: 1 1 100%; /* Ajusta para 100% da largura em telas menores */
        padding: 15px;
    }
}

/* Login Section */
.login-container1 {
    position:fixed;
    top: 0px;
    right: 0px;
    padding: 5px;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 2000;
}

.login-container1 form {
    display: flex;
    flex-direction:row;
}

.login-container1 label {
    font-size: 12px;
    margin-top: 1px;
    margin-bottom: 1px;
}

.login-container1 input {
    padding: 1px;
    width: 120px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.login-container1 button {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 3px;
    cursor: pointer;
}


.login-container1 button:hover {
    background-color: #45a049;
}

@media (max-width: 600px) {
    .login-container1 {
        position: relative;
        top: auto;
        right: auto;
        margin: 10px auto;
        width: 90%;
    }

    .login-container1 form {
        flex-direction: column;
    }

    .login-container1 label,
    .login-container1 input,
    .login-container1 button {
        width: 100%;
        margin: 5px 0;
    }
}
.botao{
    font-size: 8px;
}