/* Redefinir estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos globais */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    background-image: url('/Imagens/timothy-tan-PAe2UhGo-S4-unsplash.jpg');
    background-size: cover;
    background-attachment: fixed;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Cabeçalho */
header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    padding: 5px 10px;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #555;
}

/* Seções principais */
main {
    padding: 40px 0;
}

/* Estilos das caixas principais */
#boxes {
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
}

.box,
.box2 {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    flex: 1;
    margin: 10px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #555;
}

/* Estilos da seção de imagens */
#imagens {
    text-align: center;
}

#imagens h2 {
    margin-bottom: 20px;
}

/* Rodapé */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    width: 100%;
    bottom: 0;
}

/* Responsividade */
@media (max-width: 768px) {
    nav ul li {
        display: block;
        margin-bottom: 10px;
    }

    #boxes {
        flex-direction: column;
    }

    .box,
    .box2 {
        margin: 10px 0;
    }
}

/* Seção de Login */
.login-container {
    max-width: 400px; /* Ajusta a largura conforme necessário */
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    flex-direction: column; /* Altera o layout para coluna em telas menores */
    gap: 10px; /* Adiciona espaçamento entre os elementos */
}

#login-form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#login-form label,
#login-form input {
    flex: 1; /* Faça ambos os elementos ocuparem o mesmo espaço */
    padding: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

#login-form label {
    margin-right: 10px; /* Adicione um espaço entre os elementos */
}

#login-form button {
    width: calc(100% - 10px); /* Ajuste a largura para ocupar o espaço disponível menos o espaçamento */
    padding: 5px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#login-form button:hover {
    background-color: #555;
}

/* Responsividade */
@media (max-width: 768px) {
    #login-form label,
    #login-form input,
    #login-form button {
        width: 100%; /* Para telas menores, definimos a largura como 100% para ocupar toda a largura */
        margin-right: 0; /* Remova a margem para evitar quebras desnecessárias */
    }
}


