/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos globais */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    background-image: url('/Imagens/timothy-tan-PAe2UhGo-S4-unsplash.jpg'); /* Imagem de fundo para a página */
    background-size: cover;
    background-attachment: fixed;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Cabeçalho */
header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}

/* Main */
main {
    padding: 20px;
}

#boxes {
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
}

.box {
    width: 45%;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* Leve transparência para destacar o texto */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;
    background-image: url('/Imagens/capa-guararema-960x675.jpg'); /* Imagem de fundo para as boxes */
    background-size: cover;
    background-position: center;
}

.box2 {
    width: 45%;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* Leve transparência para destacar o texto */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;
    background-image: url('/Imagens/11442806-estadio-de-futebol-3d-com-modelo-de-vista-frontal-de-gol-de-futebol-para-seu-projeto-vetor.jpg'); /* Imagem de fundo para as boxes */
    background-size: cover;
    background-position: center;
}

.box h2 {
    
    font-size: 24px;
    margin-bottom: 20px;
}

.box2 h2 {
    color: #f0f0f0;
    font-size: 24px;
    margin-bottom: 20px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #555;
}

/* Imagens */
#imagens {
    text-align: center;
}

#imagens h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: white;
}
